*{
	margin: 0;
	padding: 0;
}
.title{
	font-family:'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	margin: 180px 0px 20px 0px;
	color: #909497;
}
.contenedor{
	background-color: gainsboro;
	margin: auto;
	width: 1300px;
	height: auto;
	margin-top: 90px;
	padding: 10px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contenedor div{
	width: 150px;
	height: 150px;
	background-color: white;
	border: 1px solid  #BDC3C7;
	margin: 30px;
	font-size: 90px;
	text-align: center;
	padding-top: 0px;
	box-sizing: border-box;
}